
<!doctype html>
<html>
<head>
    <title>MANE'TENANCE</title>
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">--> <!-- load bootstrap css -->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> --><!-- load fontawesome -->
    <link rel="stylesheet" href="/css/client.css">
    <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">
    <style>
        body        { padding-top:300px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> MANE'TENANCE </h1>
        <p>Maintain your mane with Mane'teNance! It's the online beauty experience where you can keep track of your look with our photojournal service, and take charge of your own style by selecting your next treatments a la carte from our menu. Book your appointment with one of our professional stylists in our online calendar today!
</p>


        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>
<script src="jquery-3.3.1.min.js"></script>
<script src="/public/client.js"></script>
</body>
</html>
