
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MANE'TENANCE</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <script src="client.js"></script>
  <link rel="stylesheet" href="/css/client.css">
  <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
  <div class="topnav">
<a href="/signup" class="btn btn-default">Local Signup</a>
<a href="/login" class="btn btn-default"> Local Login</a>
</div>

<div class="content">
  <h1>MANE'TENANCE</h1>
  <p>Maintain your mane with Mane'teNance! It's the online beauty experience where you can keep track of your look with our photojournal service, and take charge of your own style by selecting your next treatments a la carte from our menu. Book your appointment with one of our professional stylists in our online calendar today!
  </p>
</div>
<div class="footer">
  <p>Footer</p>
</div>
</body>
</html>
