
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MANE'TENANCE</title>
    <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
<script src="client.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/css/client.css">
</head>

<body>

  <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper" id="mainPageNav">
              <h1 class="brand-logo center" id="indexTitle">MANE'TENANCE</h1>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <a href="/signup" class="btn btn-default">Signup</a>
                <a href="/login" class="btn btn-default">Login</a>
              </ul>
            </div>
          </nav>
  </div>
  <div id="bgPicture"></div> <!--div for background picture-->
          <div class="container"  id="indexContent">
               <p id="indexContent" >Maintain your mane with Mane'teNance! It's the online beauty experience where you can keep track of your look with our booking service, and take charge of your own style by selecting your next treatments a la carte from our menu. Book your appointment with your professional stylist in our online calendar today!</p>
          </div>

  <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>
