
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title> MANE'TENANCE</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <script src="client.js"></script>
      <link rel="stylesheet" href="/css/newBooking.css">
      <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet"><!-- load fontawesome -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>
<body>

<div class="header">
  <h1>MANE'TENANCE</h1>
</div>

<div class="row">
  <div class="column" style="background-color:#aaa;">WOMEN</div>
  <div class="column" style="background-color:#bbb;">MEN</div>
  <div class="column" style="background-color:#ccc;">BRIDAL</div>
</div>

<div class="footer">
  <p><div class ="logout-btn">
  <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
  </div></p>
</div>





</body>
</html>
