
<!doctype html>
<html>
<head>
    <title> MANE'TENANCE</title>
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> --><!-- load bootstrap css -->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/css/client.css">
    <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet"><!-- load fontawesome -->
</head>
<body>
  <style>
  body        { padding-top: 300px; }
</style>

<div class = "container">
<div class="col-sm-6 col-sm-offset-3">

  <div class="dropdown">
  <button class="dropbtn"><h1>MEN</h1></button>
  <div class="dropdown-content">
    <a href="#">Barber Haircut</a>
    <a href="#">Designer Haircut</a>
  </div>
</div>

  <div class="dropdown">
  <button class="dropbtn"><h1>WOMEN</h1></button>
  <div class="dropdown-content">
    <a href="#">Designer Haircut</a>
    <a href="#">Blowdry & Style</a>
  </div>
  </div>

  <div class="dropdown">
  <button class="dropbtn"><h1>COLOR</h1></button>
  <div class="dropdown-content">
    <a href="#">Single Tone Color</a>
    <a href="#">Root Retouch Color</a>
    <a href="#">Full Balayage HiLights</a>
    <a href="#">Partial Balayage HiLights</a>
    <a href="#">Full Foil HiLights</a>
    <a href="#">Partial HiLights</a>
  </div>
</div>
</div>
</div>
<div class ="logout-btn">
<a href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
</div>
</body>
</html>
