
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title> MANE'TENANCE</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <script src="client.js"></script>
      <link rel="stylesheet" href="/css/newBooking.css">
      <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet"><!-- load fontawesome -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

  </head>
<body>

<div class="header">
  <h1>MANE'TENANCE</h1>
</div>

<!---new template -->
<div class="row">


  <div class="column">
<button class="wm-btn">WOMEN</button>

      <div id="wm-services">
      <ul class="wm-services">
        <li> Designer Haircut</li>
        <li>Blowdry & Style</li>
        <li>Single Tone Color</li>
        <li>Root Retouch Color</li>
        <li>Full Balayage HiLights</li>
        <li>Partial Balayage HiLights</li>
        <li>Full Foil HiLights</li>
        <li>Partial HiLights</li>
      </ul>
      </div>
    </div>


      <div class="column">
      <button class="men-btn">MEN</button>
          <div id="men-services">
            <ul class="men-services">
             <li>Designer Haircut</li>
             <li>Barber Cut</li>
             <li>Grey Hair Blending</li>
             <li>Root Retouch Color</li>
             <li>Partial Balayage HiLights</li>
             <li>Partial HiLights</li>
             <li>Beard Trim</li>
             <li>Clipper Clean Up</li>
           </ul>
            </div>
      </div>

  <div class="column">
      <div id="cart">
        <h4>CART</h4>
          <ul class="cart">
            <li></li>
          </ul>
        </div>
  </div>
</div> <!--end of row div-->
<div class="footer">
  <p><div class ="logout-btn">
  <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
  </div></p>
</div>


</body>
</html>
