<!doctype html>
<html>
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title> MANE'TENANCE</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <script src="schedule.js"></script>
      <link rel="stylesheet" href="/css/schedule.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!---icon library-->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"><!--loads Google font for H1-->
  </head>
<body>

<div class="title-bar">
  <h1>Mane'teNance Schedule</h1>
    <div class ="logout-btn">
        <a href = "/services" class = "btn btn-default"> Back to Service Page</a>
        <a href ="/logout" class="btn btn-default"> Logout</a>
    </div>
</div>


<div class="content">
    <p><h2>Now that you selected your services, the total time is avaliable to you to schedule your appointment!  </h2></p>

  <div id="schedule">

    <p class ="total-time-output">Total Time: <%= output %></p>

    <p id ="test"></p>















  </div> <!--end of schedule div-->
</div> <!--end of content div-->

</body>
</html>
