<!doctype html>
<html>
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title> MANE'TENANCE</title>
    <script
     src="https://code.jquery.com/jquery-3.3.1.min.js"
     integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
     crossorigin="anonymous"></script>
    <script src="client.js"></script>
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">  <!--load bootstrap css -->
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"><!--icon library-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!--icon library-->
 <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"><!--loads Google font for H1-->
 <link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
 <link rel="stylesheet" href="/css/services.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" id="overide-nav-header">
      <h1>Mane'tenance | Hair Services</h1>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron" id="overide-jumbotron">
  <div class="container text-center" id="container-overide-service-page">

    <p>The services offered at Mane'teNance range from a simple one touch styling to intricate and multi-step colors - for both men and women. Simply click on each service to choose! Selected items will appear in the cart and you can modify as needed, time allotted for each service will populate your cart as well.You will be able to schedule an appointment once you finish choosing your service(s) and clicking Confirm - getting one step closer to your new and  fresh look! </p>
  </div>

  <div class="container-fluid bg-3 text-center" id="overide-bg3-container">

    <div class="row" id="overide-row-pics">
      <div class="col-sm-3">
        <p>Precision Haircuts</p>
        <img src="http://localhost:8080/images/cut1.jpg" class="img-responsive" style="width:80%" alt="Image" >
      </div>
      <div class="col-sm-3">
        <p>Dimensional Hair Colors</p>
        <img src="http://localhost:8080/images/color1.jpg" class="img-responsive" style="width:80%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Fresh Barber Haircuts</p>
        <img src="http://localhost:8080/images/men1.jpg" class="img-responsive" style="width:80%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Bridal Stylings</p>
        <img src="http://localhost:8080/images/bride5.jpg" class="img-responsive" style="width:80%" alt="Image">
      </div>
    </div>
  </div>
  <br>

  <div class= "row" id="overide-row-services">
  <div class="col-sm-4" id="women-menu-overide">
    <h2>Women Hair Services</h2>
                <div id="wm-services">
                  <ul class="wm-services">
                    <li data-time="45" data-price="80"> Designer Haircut</li>
                    <li data-time="30" data-price="60">Blowdry & Style</li>
                    <li data-time="60"data-price="150">Single Tone Color</li>
                    <li data-time="120" data-price="125">Root Retouch Color</li>
                    <li data-time="180" data-price="250">Full Balayage HiLights</li>
                    <li data-time="120" data-price="200">Partial Balayage HiLights</li>
                    <li data-time="160" data-price="225">Full Foil HiLights</li>
                    <li data-time="140" data-price="170">Partial HiLights</li>
                  </ul>
              </div>
            </div> <!--end of first column div-->
  <div class="col-sm-4" id="men-menu-overide">
      <h2>Men Hair Services</h2>
          <div id="men-services">
            <ul class="men-services">
             <li data-time="30" data-price="65">Designer Haircut</li>
             <li data-time="30" data-price="50">Barber Cut</li>
             <li data-time="45" data-price="45">Grey Hair Blending</li>
             <li data-time="45" data-price="50">Root Retouch Color</li>
             <li data-time="45" data-price="60">Partial Balayage HiLights</li>
             <li data-time="45" data-price="60">Partial HiLights</li>
             <li data-time="45" data-price="60">Partial HiLights</li>
             <li data-time="15" data-price="10">Clipper Clean Up</li>
           </ul>
            </div>
        </div>
  <div class="col-sm-4" id="cart-overide">
      <div id="cart">
        <h2>~CART~</h2>
          <ul class="cart"></ul>
        </div>

        <div id="timeSum" >
        <p class="totalTime"></p>
        </div>
          <div id= "cartTimeBtn"><p>Please confirm your service time needed.</p>
            <form action="/schedule/time" method="post">
              <input type="hidden" name="time">
              <button type="submit">Confirm</button>
            </form>
          </div>



      </div>
    </div> <!--end of row div-->



</div>
</body>
</html>
