* {
    box-sizing: border-box;
    font-family: 'Forum', cursive;
    font-size: 24px;
    

}

body {
  margin: 0;
  font-family: 'Forum', cursive;

}

h1 {
  font-size: 40px;


}


/* Style the content */
.content {
    background-color: #ddd;
    padding: 30px;
    margin: auto;


}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/*LOGIN PAGE STYLING*/
