html {
  background: url("/images/new2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

body {
  box-sizing: border-box;
  font-size: 20px;
  }

/* Style the content */

#indexTitle,#indexTitle, #signupTitle {
  font-size:22px;
  text-align: center;

  }

  p {
    font-size: 20px;
    max-width: 480px;
    padding: 8px;
}


#indexContainer, #loginpg, #signup_pg {
  background-color: #d7ccc8;
  width: 450px;
  margin-top: 1%;
  display: inline-block;
  height: auto;
  opacity: 0.6;
  filter: alpha(opacity=50);
  border-radius: 10px;
  padding: 8px;
  text-align: center;
}
/* Style the footer */
#indexFooter, #signupfooter {
display: inline-block;
  border-radius: 20px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  text-align: center;
  margin-top: 10px;

}

.form-group label {
  font-size: 20px;
  color: black;
}


a.btn.btn-default{
  font-size: 20px;
  color: black;
  background-color:  Silver;
}
