* {
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Forum', cursive;
}

body {
  font-family: 'Forum', cursive;
  font-size: 30px;

}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    font-size: 35px;
}

.column {
    float: left;
    text-align: center;
    width: 33.33%;
    padding: 20px;

}

.row {
  padding: 25px;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#wm-services, #men-services {
padding:0
}

h4 {
padding: 0;

}

ul {
    list-style: none;
    display: none;
}

h4 {
  text-shadow: 1px 2px;
}

#cart {
  display: none;
}

#cart li {
padding-top: 0;
padding-bottom: 10px;
list-style: none;

}






/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    display: fixed;
}






























/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}
