* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    position: center;
    font-size: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size:20px;



}

.title-bar {
  margin-top: 18px;
  height: 50px;
  padding-top: 2px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: Gainsboro;
}

.logout-btn {
  position: absolute;
  top:3.5px;
  right: 30px;


}

.navbar {
 margin-bottom: 0;
 border-radius: 0;
}



/* Style the header */
.header {
  position: static;
  left: 400px;
    background-color: #f1f1f1;
    padding: 0;
    text-align: center;
    font-size: 35px;
    width: 900px;
}

.column {
  background-color: #9896A4;
  border: solid 1px;
    float: left;
    text-align: center;
    width: 33.33%;
    padding: 20px;
    margin: 5px;

}

.row {

  padding: 0;
  width: auto;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#wm-services, #men-services {
width: auto;
}

#cartTimeBtn {
  display: none;
}

ul  {
    list-style: none;

}
ul.cart {
  display: block;
}

li {
  font-size: 25px;
  padding:5px;
}



#cart , #confirm-btn, #timeSum{
  padding: 0;
  margin-top: 5px;


}

#timeSum {

  max-width: 300px;
  background-color: #f1f1f1;
  margin-left: 80px;
  margin-bottom: 20px;


}


#cart li {
padding-top: 8px;
padding: 10px;
list-style: none;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}
